body {
  background-color:#000417;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

 .clock {
    margin-top: 25%;
    top: 0; left: ; bottom: 0; right: 0;
    text-align: center;
    color: yellow;
    font-family: Digital-7;
    font-size: 75px;
    text-shadow: 1px 1px 1px #fff;
    letter-spacing: 3px
}


@media screen and (max-width: 667px){
  .clock {
    font-size: 60px
  }
}


@media screen and (max-width: 414px) {
.clock {
    font-size: 40px
  }
}