body {
	margin: 0;
	padding:0;
	background-color: #6699ff
}

header {
	background-color: #000099;
	width: 95%;
	height: 155px;
	margin: 0px 10px;
}
.top #logo {
	text-align: center;
	color: #FFF;
	font-family: verdana;
	padding-top: 20px;
	margin-top: 10px;
	position:relative;

}

.top h3 { font-style: italic;
	font-size: 1em;
	font-weight: lighter;
}
.top h2 {
	font-size: 1.3em;
	font-weight: lighter;
}

.top img {
	float: left;
}

section {
	width: 95%;
	height: 760px;
	background-color: #ecebfe;
	    margin-left: 10px;
}
section h2 {
	color: #5800ff;
	text-align: center;
}
 .main {
 	display: inline-block;
 	background-color: #ecebfe;
 	padding-right: 0px
 
}
.main h2 {
 	text-align: center;
 	color: #0000ff
}
.main p {
	border: solid 1px black;
	margin-left: 10px;
	padding: 3px;
	background-color: #fff
}
.main #secondbox span {
	color: #0000ff;
	font-weight: bold
}

#secondbox {
	text-align: center;
	border: solid 1px black;
	margin-left: 10px;
	padding: 0px;
	background-color: #fff

}
#secondbox span {
	color: #0000ff;
	text-decoration: underline;
}
#secondbox p {
	border: none
}


.leftside {
	display: inline-block;
	background-color: #000099;
	float: left;
	padding-right: 4px;
	
}
.leftside a {
	color: yellow;
}

.leftside li {
	list-style-type: none;
}
.leftside  li:nth-child(2) a {
	text-decoration: none;
}

button {
	color: #000
}
#sideblue {
	float: left;
	 padding-left: 14px;
}
#sideblue img {
	display:block;
	margin: 2px
}

#search {
	float: right;
	 padding-left: 14px;
	 background-color: 
}
#search img {
	display:block;
	margin: 2px
}
.leftside h4 {
	color: #FFF;
	text-decoration: underline;
	margin-top: 5px;
	font-weight: lighter;
	padding-left: 10px
}


.rightside  {
	float: right;
	padding: 20px 10px 0 0
	
}

 .rightside img {
      display: block;
    width: 144px;
    margin-top: 12px;
}

.events { 
	background-color:#ecebfe;
	margin: 0;
	padding:0;
	   text-align: left;
}
 .events span {
	border: solid black 1.5px;
	color:#fff;
	background-color: darkblue;
	 padding-left: 195px;
}

    .events h4 {
    	margin-left: 4px;
    	}
#thirdbox {
	text-align: left;
	border: solid 1px black;
	margin-left: 10px;
	padding: 0px;
	background-color: #fff;
	    border-bottom: #fff;

}
.leftside ul img {
	position: absolute;
	top: 19px;
    left: 24px;

}
footer {
	position: relative;
bottom: -113px;
    width: 83%;
    margin-left: 168px;
    background-color: #000099

}


@media screen and (max-width: 877px) {
	.top img {
		display: none
	}	
}
@media screen and (max-width: 936px) {
	footer {
		width: 60%
	}	
}
@media screen and (max-width: 847px) {
	footer {
		display: none
	}	
}
@media screen and (min-width: 877px) and (max-width: 2060px) {

.top #logo {
	display: none
	}
}
@media screen and (min-width: 775px) and (max-width: 878px) {

 {display: 
	
	}
}
@media screen and  (max-width: 687px) {
.leftside ul img
 {display: none
	
	}
}




 